<div class="relative">
    <video class="z-1 absolute w-screen h-screen" autoplay muted preload="auto" loop src="/assets/videos/marvel-intro.mp4"></video>
    <div class="overlay relative z-2 flex align-items-center justify-content-center max-w-screen min-h-screen">
        <p-card  header="Inicia Sesión"  [style]="{ width: '360px' }">
            <div>
                <label class="block font-semibold mb-2" for="nombre">Nombre</label>
                <input 
                    pInputText
                    id="nombre"
                    class="h-2rem w-full"
                />
            </div>
        </p-card>
    </div>
</div>

   