<p-card>

  <div class="col-12">
    <app-forms-header
      title="Crear Superheroe"
      description="En este fomulario ingresa tu super heroe favorito"
      image="assets/images/dc-logo.png">
    </app-forms-header>
  </div>

  <form
    class="formgrid grid"
    [formGroup]="createHeroForm"
    (ngSubmit)="onSubmit()"
  >

    <!--! Nombre real -->
    <div class="field col-12 md:col-6">
      <label for="nombre_real" class="font-bold">Nombre</label>
      <input
        class="w-full"
        id="nombre_real"
        [maxLength]="80"
        type="text"
        pInputText
        formControlName="nombre_real"
        placeholder="Bruce Wayne"
      />
    </div>

    <!--! Nombre del personaje -->
    <div class="field col-12 md:col-6">
      <label for="nombre_personaje" class="font-bold">Alter ego</label>
      <input
        class="w-full"
        id="nombre_personaje"
        [maxLength]="80"
        type="text"
        pInputText
        formControlName="nombre_personaje"
        placeholder="Batman"
      />
    </div>

    <!--! Aparicion -->
    <div class="field col-6 lg:col-6 md:col-6 sm:col-12">
      <label for="primera_aparicion" class="font-bold">Primera aparición</label>
      <p-calendar
        id="primera_aparicion"
        styleClass="w-full"
        inputStyleClass="w-full"
        appendTo="body"
        formControlName="primera_aparicion"
        dateFormat="dd/mm/yy">
      </p-calendar>
    </div>

    <!--! Categoría -->
    <div class="field col-12 lg:col-6 md:col-6 sm:col-12">
      <label for="id_categoria" class="font-bold">Categoría</label>
      <p-dropdown
      styleClass="w-full"
      placeholder="Selecciona la categoría"
      formControlName="id_categoria">
      </p-dropdown>
    </div>

    <!--! franquicia -->
    <div class="field col-6 lg:col-12 md:col-12 sm:col-12">
      <label for="id_franquicia" class="font-bold">Franquicia</label>
      <p-dropdown
      styleClass="w-full"
      placeholder="Selecciona la franquicia"
      formControlName="id_franquicia">
      </p-dropdown>
    </div>

    <!--! Descripción-->
    <div class="field col-12">
      <label for="descripcion" class="font-bold">Descripción</label>
      <textarea
        class="w-full"
        id="descripcion"
        styleClass="w-full"
        rows="5"
        cols="30"
        pInputTextarea
        formControlName="descripcion"
        placeholder="El señor de la noche">
      </textarea>
    </div>

    <!--! Guardar -->
    <div class="field col-12">
      <p-button
        class="w-full"
        styleClass="w-full"
        label="Guardar"
        icon="pi pi-save"
        iconPos="right"
        severity="success"
        [rounded]="true">
      </p-button>
    </div>

  </form>
</p-card>
